#cart{
    height: 1000px;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(146, 204, 255);
    color:red ;
    position: absolute;
    top: 0;
}


#container{
    max-width: 80%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 280px;
   background-color: transparent;
   display: flex;
   justify-content: space-around;
}
#body{
    background-color: white;
    margin: 0px;
        padding: 0px;
        font-family:Arial, Helvetica, sans-serif;
        height: 1000px;
}



#header{
    width: 100%;
    height: 80px;
    margin-top: 0px;
    margin-left: 0%;
    background-image: linear-gradient(to right,#4568dc , #b06ab3);
    display: flex;
    
}
#heading{
    margin-left: 15px; background-color: transparent;
    
    font-family: 'Times New Roman', Times, serif;
}

#mybucks{
    background-color:;
    height: 80px;
    width: 400px;
    text-align: center;
  margin: auto;
 display: flex;
 justify-content: center;
 color: white;
}
#wallet_logo{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    margin-top: 10px;
}
#wallet_logo img{
    width: 50px;
    height: 50px;
    margin: auto;
    padding-top: 5px;
}

#cartdiv{
    height: 700px;
    width: 80%;
    margin-left: 10%;
    background-image: linear-gradient(to right,#4568dc , #b06ab3);
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 4px  rgba(97, 104, 110, 0.5);
    overflow-y: scroll;
    display: flex;
}

#probox{
    width: 65%;
    
    margin-top: 1%;
    margin-left: 1%;
    height: 100%;
   background-color: transparent;
}
#descriptbox{
    width: 32%;
    position: relative;
    left: 1%;
    margin-top: 1%;
    margin-right: 0%;
    height: 100%;
    background-color: yellow;
}

#nameofdetails{
  display: flex;
  width: 100%;
  height: 30px;
  background-color: white;
  justify-content:space-around;
  border-radius: 10px;
 
}
#nameofdetails div{
  margin-top: 3px;
}

#nameofdetails span{
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
}

.descriptionbox{
  display: flex;
  width: 400px;
  background-color: transparent;
}
.productbox{
  width: 100%;
  height: 200px;
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
 display: flex;
 justify-content:space-between;
}

.productimage{
  width: 120px;
  height: 140px;
  background-color: yellow;
  margin-left: 10px;
  position: relative;
  top: 10px;
  display: block;
}
.productimage img{
  width: 120px;
  height: 140px;
  border-radius: 5px;
}
.productcounter{
  margin-top: 10px;
  margin-left:5px;
 position: relative;
 left: 0;
}

.productcounter span{
  font-size: 13px;
}
.proname{
  width: 250px;
  height: 60px;
  background-color: transparent;
  text-align: left;
  margin-left: 10px;
  margin-top: 0px;
  font-style: italic;
  display: block;
  float: left;
}
.pricebox{
 
 width: 140px;
 right: 90px;
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
background-color:;
justify-content:center;


}
.subtotal{
  float: right;
  
}

.removebtn{
  border: 1px solid black;display: flex;width:30px;height: 30px;position: relative;
        top: 100px;left: 80px;
}