.slideshow-container{
  overflow: visible;
  max-width: 100%;
  margin-top: 5px;
}


.mySlides{
  display: none;
}

.mySlides img{
  max-width: 100%;
}
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.containers{
  position: relative;
  text-align: center;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
 top: 45%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -0px;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color:white;
}

.slideshow-container1{
  overflow: visible;
  max-width: 100%;
  margin-left: 0%;
  margin-top:20px;
  max-height: 500px;
}

.mySlides1{
  display: none;
}

.mySlides1 img{
  max-width: 100%;
  border-radius: 5px;
}

#dotsty1{
  text-align:center;position: relative;top: 0%;right:45%;float:right;font-size: 5px;
}

.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
  background-color: white;
  z-index: 999;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #ff4500;
}

.fade1{
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@-webkit-keyframes fade1 {
  from {opacity: .4} 
  to {opacity: 1}
}



.prev1, .next1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}




/* Position the "next button" to the right */
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover, .next1:hover {
  background-color:white;
}


#dotsty{
  text-align:center;position: relative;top: 0%;right:45%;float:right;font-size: 5px;
}

 

@media screen and (max-width:992px){
.slideshow-container{
  margin-top: 0px;
  overflow: visible;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
 top: 35%;
  width: auto;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-size: 12px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}



.slideshow-container1{
  overflow: visible;
  max-width: 90%;
  margin-left: 5%;
 margin-top: 10px;
}

.mySlides1{
  display: block;
  z-index: 1000;
}

.mySlides1 img{
  max-width: 100%;
  border-radius: 10px;
}

#dotsty{
  text-align:center;position: relative;top:0;right:45%;float:right;font-size: 0px;
}
#dotsty1{
  text-align:center;position: relative;top:0%;right:45%;float:right;font-size: 0px;
}





.fade1{
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@-webkit-keyframes fade1 {
  from {opacity: .4} 
  to {opacity: 1}
}

.prev1, .next1 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover, .next1:hover {
  background-color:white;
}
.dot{
  height: 5px;
  width: 5px;
}

}