#cart{
    height: 1000px;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(146, 204, 255);
    color:red ;
    position: absolute;
    top: 0;
}


#container{
    max-width: 80%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 280px;
   background-color: transparent;
   display: flex;
   justify-content: space-around;
}
#body{
    background-color: white;
    margin: 0px;
        padding: 0px;
        font-family:Arial, Helvetica, sans-serif;
        height: 1000px;
}



#header{
    width: 100%;
    height: 80px;
    margin-top: 0px;
    margin-left: 0%;
    background-image: linear-gradient(to right,#4568dc , #b06ab3);
    display: flex;
    
}
#heading{
    margin-left: 15px; background-color: transparent;
    
    font-family: 'Times New Roman', Times, serif;
}

#mybucks{
    background-color:;
    height: 80px;
    width: 400px;
    text-align: center;
  margin: auto;
 display: flex;
 justify-content: center;
 color: white;
}
#wallet_logo{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    margin-top: 10px;
}
#wallet_logo img{
    width: 50px;
    height: 50px;
    margin: auto;
    padding-top: 5px;
}

#cartdiv{
    height: 700px;
    width: 80%;
    margin-left: 10%;
    background-image: linear-gradient(to right,#4568dc , #b06ab3);
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 4px  rgba(97, 104, 110, 0.5);
    overflow-y: scroll;
    display: flex;
}

#probox{
    width: 65%;

    margin-top: 1%;
    margin-left: 1%;
    height: 1000px;
   background-color: transparent;
}
#descriptbox{
    width: 32%;
    position: relative;
    left: 1%;
    margin-top: 1%;
    margin-right: 0%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}
#descriptbox span{
font-size:22px;
color: white;
padding:10px;
margin-left: 0px;
font-family: 'Courier New', Courier, monospace;
font-size: 25px;
  font-weight: 200;
  font-style: none;
}
#descriptheading{
   background-image: linear-gradient(to right,#4568dc , #b06ab3); 
  border-radius: 5px 5px 0 0;
}

.pricing_details{
  color: black;
  font-size: 20px;
  display: flex;
  justify-content:space-between;
  margin-top: 10px;
}
.pricing_details div{
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
}

#coupon{
  
  width:95%;
  color:white;
  height:40px;
  margin-left:2.5%;
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  padding:8px 10px;
  box-sizing: border-box;
  border-radius: 5px 5px 5px 5px;
  background-image: linear-gradient(to right,#4568dc , #b06ab3); 
  cursor:pointer;
}
#coupon img{
 width:25px;
 height:25px;
}

#coupon_full_box{
  
  width:95%;
  color:white;
  height:200px;
  margin-left:2.5%;
  margin-top: 0px;
  font-size: 30px;
display: none;                                                                      
  padding:5px;
  box-sizing: border-box;
  border-radius: 0px 0px 5px 5px;
  background-image: linear-gradient(to right,#4568dc , #b06ab3);
}

.rotate{
  transform:rotate(180deg);
}
#coupon_full_box input{
padding:10px 10px;
outline:none;
margin-left: 10px;
margin-top: 10px;
border-radius: 5px;
border: 2px solid white;
font-size: 12px;
background-color: white;
box-sizing: border-box;
opacity: .8;
}
#coupon_full_box input:focus{
  opacity: 1;
  border: 2px solid black;
}
.apply{
  margin-top: 5px;
}
.apply button{
  background-color: white;
  border-radius: 5px;
  padding:8px 15px;
  padding: 7px 14px;
  font-size: 18px;
  opacity: 1;
}
.apply button:hover{
  background-color: white;
  cursor: pointer;
  transition-duration: .3s;
  color: black;
  opacity: .7;
}
#nameofdetails{
  display: flex;
  width: 100%;
  height: 30px;
  background-color: white;
  justify-content:space-around;
  border-radius: 10px;
 
}
#nameofdetails div{
  margin-top: 3px;
}

#nameofdetails span{
  font-size: 20px;
  font-weight: 600;
  font-style: none;
  font-family: 'Courier New', Courier, monospace;
}

.descriptionbox{
  display: flex;
  width: 400px;
  background-color: transparent;
 
}
.productbox{
  width: 100%;
  height: 200px;
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
 display: flex;
 justify-content:space-between;
}

.productimage{
  width: 120px;
  height: 140px;
  background-color: white;
  margin-left: 10px;
  position: relative;
  top: 10px;
  display: block;
}
.productimage img{
  width: 120px;
  height: 140px;
  border-radius: 5px;
}
.productcounter{
  margin-top: 10px;
  margin-left:5px;
 position: relative;
 left: 0;
}

.productcounter span{
  font-size: 13px;
}
.proname{
  width: 250px;
  height: 60px;
  background-color: transparent;
  text-align: left;
  margin-left: 10px;
  margin-top: 0px;
  font-style: none;
  display: block;
  float: left;
}
.pricebox{
 
 width: 140px;
 right: 90px;
  margin-top: 20px;
  font-size: 20px;
  font-style: none;
background-color: white;
justify-content:center;
}
.subtotal{
  float: right;
  
}

.removebtn{
  border: 1px solid black;display: flex;width:30px;height: 30px;position: relative;
        top: 100px;left: 80px;
}