.slideshow-container{
  overflow: hidden;
  max-width: 100%;
  
  position: absolute;
  margin-top: 95px;
  left: 0;
  z-index: -1000;
}
.mySlides{
  display: none;
  z-index: -990;
}
.mySlides img{
  max-width: 100%;
}

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color:white;
}

@media screen and (max-width:992px){
.slideshow-container{
  margin-top: 95px;
}
.prev, .next {
  position: absolute;
  top: 50%;
}

}